<!-- <h1>Prazer sou o componente pai</h1>
<br>
<p>Caminho para a imagem setado no componente pai: {{variavelImagemComponentePai}}</p>
<app-banner [imagem]="variavelImagemComponentePai" (onClickImage)="receberResult($event)"></app-banner>

<h2>{{result}}</h2>

<app-home (onGetCatFactsList)="setarListaDeCatFacts($event)"></app-home>

<h2>Listando facts vindos do Home para o Component pai via &#64;Output:</h2>
<ul>
    <li *ngFor="let factElement of listaDeCatFacts">{{factElement.fact}}</li>
</ul> -->

<router-outlet />